/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --dkblue: #0D4C73;
    --medblue: #0D5673;
    --blu: #1790BF;
    --black: #171321;
    --yellow: #ffe217;
    --sand: #e4c894;
    --dksand: #023857;
    --aqua: #96f9f9;
    --darkaqua: #1790BF;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

* {
    box-sizing: border-box;
  }
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* navbar */
.top {
    background-color: var(--dkblue);
    margin-top: 7px;
}
nav {
  background-color: var(--dkblue);
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav img {
    height: 40px;
    margin-top: -7px;
    margin-left: -2px;
    padding-right: 6px;
}

nav a {
  text-decoration: none;
  display: block;
}

nav h1 a {
  font-family: var(--sans);
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
}

nav [class*="fa-"] {
  font-size: 150%;
}

.button {
  background-color: var(--aqua);
  padding: 0.2rem .3rem;
  color: var(--dkblue);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 4px #07073a);
}
.button:hover {
  color: var(--white);
  background-color: var(--darkaqua);
}



.text-border {
    border-radius: 20px;
    border-left: 1px solid var(--sand);
    border-top: 1px solid var(--sand);
    padding: 1rem;
    padding-bottom: 27px;
}

.welcome {
    background-color: var(--dksand);
}

.intro {
    filter: drop-shadow(5px 5px 4px #222222);
    margin: 2rem 2rem 2rem 2rem;
}

.intro-left {
    margin-bottom: 2rem;
}

@media (min-width: 850px) {
    .intro {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 3rem;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 2rem;
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        filter: drop-shadow(5px 5px 4px #ceceda79);
    }
    .intro-left {
        grid-column: 1/7;
        grid-row: 1/2;
        order: 1;
        background-color: var(--black);
        border-radius: 20px;
    }
    .intro-right {
        grid-column: 4/11;
        grid-row: 1/2;
        margin-left: auto;
    }
}

.intro img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--sand);
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto; 
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  
}

.welcome {
  background-color: var(--dksand);
  padding-top: 1rem;
}



body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--dkblue);
  color: var(--white);
  font-size: var(--font-size);
}
h1, h2, h3 h4 {
  margin: 0; 
}

a {
  color: var(--sand);
}

a:hover {
  color: var(--yellow);
  text-decoration: none;
}


/*contact */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--black);
    filter: drop-shadow(5px 5px 4px #ceceda79);
    border-radius: 25px;
    border-left: 1px solid var(--sand);
    border-top: 1px solid var(--sand);
    padding: 1rem;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: var(--dksand);
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.right{
	padding: 25px 40px;
}

.header {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 30px;
    color: var(--white);
}

.header:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--sand);
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: var(--white);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    border-radius: 15px;
}

.field:hover{
	background-color: rgba(102, 100, 100, 0.295);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--aqua);
	color: var(--black);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 4px #5f5f5f);
}

.btn:hover{
    background-color: var(--darkaqua);
    color: var(--white);
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/* footer */

footer {
    background-color: var(--dkblue);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    text-align: center;
    margin-top: 2rem;
}

footer [class*="fa-"] {
    font-size: 150%;
}

.foot-name {
    font-size: 1rem;
}

.foot-name h3 {
    font-weight: normal;
}

.icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.trademark {
    font-size: 1rem;
}

.gradient {
    height: 3px;
    background: rgb(190,163,76);
    background: radial-gradient(circle, rgba(190,163,76,1) 0%, rgba(7,111,233,1) 100%);
}

.pitch-doc-wide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  max-width: 75%;
  height: auto;
}