:root {
  --dkblue: #0D4C73;
  --medblue: #0D5673;
  --blu: #1790BF;
  --black: #171321;
  --yellow: #ffe217;
  --sand: #e4c894;
  --dksand: #023857;
  --aqua: #96f9f9;
  --darkaqua: #1790BF;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dksand);

}

main {
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gradient {
  height: 3px;
  background: rgb(190,163,76);
  background: radial-gradient(circle, rgba(190,163,76,1) 0%, rgba(7,111,233,1) 100%);
}

/* Nav */

.top {
  background-color: var(--dkblue);
}
nav {
background-color: var(--dkblue);
font-family: var(--mono);
font-size: 100%;
padding: 1rem;
}

nav img {
  height: 40px;
  margin-top: -7px;
  margin-left: -2px;
  padding-right: 6px;
}

nav a {
text-decoration: none;
display: block;
font-family: var(--mono);
}

nav h1 a {
font-family: var(--sans);
font-size: 1em;
padding: 0;
margin: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
gap: 2rem;
}

nav li:first-child {
flex-basis: 100%;
}

nav [class*="fa-"] {
font-size: 150%;
}

.button {
background-color: var(--aqua);
padding: 0.2rem .3rem;
color: var(--dkblue);
border-radius: 5px;
filter: drop-shadow(5px 5px 4px #07073a);
}
.button:hover {
color: var(--white);
background-color: var(--darkaqua);
}


@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto; 
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  
}

a {
  color: var(--sand);
}

a:hover {
  color: var(--yellow);
  text-decoration: none;
}

/* Utility Classes */
/* Typography */

.heading-master {
  font-size: 4.5rem;
  color: var(--white);
  line-height: normal;
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
}

.heading-secondary a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.heading-about {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--black);
}

.base-text {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

/* Page Styles */

/* Hero section */
.hero-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.hero-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
}

.hero-img-cont {
}

.hero-img {
  width: 100%;
}

.hero-title-cont {
  padding: 2rem 1rem;
  background-color: var(--white);
  color: #1f1f1f;
  margin-top: -5rem;
  border-radius: 1.2rem;
  transform: skew(-15deg);
  width: 85%;
  text-align: center;
}

.hero-title {
  font-size: 2rem;
  transform: skew(15deg);
}

.hero-col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 50%;
  gap: 1rem;
}

.text-section {
  padding: 3rem 3rem;
  background-color: var(--white);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  color: var(--black);
}

/* Section 2 */
.section-2 {
  display: flex;
  justify-content: space-between;
}

.section-2-col-1 {
  flex-basis: 40%;
}

.section-2-col-2 {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.section-2-img {
  width: 100%;
}

.section-heading {
  color: var(--black);
  font-size: 2.2em;
}

.section-secondary h3 {
  color: var(--black);
}


.section-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.section-list-item{
    margin-left: 3rem;
    line-height: 1.4rem;
}

.sub-list{
    margin-left: 3rem;
    padding: .5rem 0;
}

.section-logo{
    width: 80px;
}

.section-link {
  color: var(--dksand);
  font-weight: 900;
}

.section-link:hover {
  color: var(--blu);
}

/* Section 4 */


.section-4{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section-4-col-1{
    flex-basis: 50%;
}

.section-4-img{
    width: 100%;
}

.section-4-col-2{
    flex-basis: 40%;
}

footer {
  background-color: var(--dkblue);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  text-align: center;
  margin-top: 0;
}

footer [class*="fa-"] {
  font-size: 150%;
}

.go-to-top {
  margin-top: 1rem;
  font-size: 140%;
}

.trademark {
  margin-bottom: 1rem;
  color: var(--white);
}

.foot-name {
  font-size: 1rem;
  font: var(--sans);
}

.foot-name h3 {
  font-weight: normal;
  color: var(--white);
  margin-top: 1.5rem;
}

.icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width : 768px) {
    .hero-section{
        flex-direction: column;
    }

    .section-2{
        flex-direction: column;
    }

    .section-2-col-2{
        display: none;
    }

    .section-4{
        flex-direction: column;
    }

    .section-4-col-1{
        display: none;
    }

    .text-section{
        padding: 1.5rem 1.5rem;
        background-color: #fcfcfc;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        color: #1f1f1f;
    }

    .section-list-item{
        margin-left: 1.5rem;
    }

    .base-text{
        font-size: 1rem;
    }
}